<img style="height: 50px;" src="http://codebook.gym-karvina.cz/assets/images/logo-o.svg"/>
<p>Dobrý den,</p>
<p>právě jsme pro Vás vytvořili účet na stránce http://codebook.gym-karvina.cz/.
    Abyste mohli upravovat obsah webu, je nutné, aby Vám učitel Váš účet aktivoval. </p>
<br />
<p>S přáním příjemného dne</p>
<p>tým Codebooku</p>

<p style="margin-top: 20px; color: grey; font-style: italic">Na tento e-mail prosím neodpovídejte.</p>