{block content}

    <ul>
        {foreach $sotds as $sotd}
            <li>
                <a href="{$sotd->getLink()}" target="_blank">{$sotd->getName()}</a>
                {$sotd->getPubDate()|date:'j. n. Y'}
            </li>
        {/foreach}
    </ul>

<i class="fa fa-cog" aria-hidden="true"></i>