{block content}
<div class="error-site">
    <h1 n:block=title class="error-site__title">Stránka nenalezena</h1>

    <p class="error-site__text">Stránku, kterou hledáte se nám nepodařilo najít.
    Je možné, že zadaná adresa není správná, nebo že stránka už neexistuje.
    </p>

    <p class="error-site__number"><small>error 404</small></p>
    <a class="btn btn--blue" n:href=":Front:Homepage:default">Na hlavní stránku</a>

</div>
