//border colors input - #d6dee6
//ikonka lupy c7cbd4

//text input select neaktivni - c7cbd4
//text inputs - #6b7992
.full-width{
  width: 100%;
}
.tabs {
  border-left: #d6dee6;
  clear: both;
}
.tab {
  float: left;
}
.tab label {
  background: white;
  padding: 10px 20px;
  border: 1px solid #d6dee6;
  border-right: 1px solid transparent;
  position: relative;
  color: #6b7992;
  cursor: pointer;
  font-style: italic;
  font-weight: 200;
  transition: .3s;
  &:hover{
    background: rgba(248,83,75,.05);
  }
}
.tab:last-of-type label{
 border-right: 1px solid #d6dee6;
}
.tab [type=radio] {
  display: none;
}
[type=radio]:checked ~ label {
  background: rgba(248,83,75,.3);
  border: 1px solid @orange;
  color: @orange;

}
input[type="text"].filter-text, select.filter-select{
  font-style: italic;
  padding: 10px;
  border: 1px solid #d6dee6;
  color: #6b7992;
  transition: .3s;
  &:hover, &:active, &:focus{
    border: 1px solid @orange;

  }
}
input[type="text"].filter-text{
  width: 60%;
}

select.filter-select{
  width: 35%;
  margin-left: 10px;
  cursor:pointer;
  position: relative;
  & option{
    padding: 10px;
    cursor: pointer;
  }
  &:after{
    content: '\f078';
    font-family: FontAwesome;
    color: #c7cbd4;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    pointer-events: none;
  }

}

//DEBUGS
select.filter-select{ //DEBUG MOZ arr down

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select.filter-select::-ms-expand { //DEBUG IE11
  display: none;
}

//MEDIA
@media(max-width: 1200px) {
  .tab label {
    padding: 10px 10px;
  }
}