.full-width{
  width: 100%;
}
.tabs {
  border-left: #d6dee6;
}
.tab {
  float: left;
}
.tab label {
  background: white;
  padding: 10px 20px;
  border: 1px solid #d6dee6;
  border-right: 1px solid transparent;
  position: relative;
  color: #6b7992;
  cursor: pointer;
  font-style: italic;
  font-weight: 200;
  transition: .3s;
  &:hover{
    background: rgba(248,83,75,.05);
  }
}
.tab:last-of-type label{
 border-right: 1px solid #d6dee6;
}
.tab [type=radio] {
  display: none;
}
[type=radio]:checked ~ label {
  background: rgba(248,83,75,.3);
  border: 1px solid @orange;
  color: @orange;

}
input[type="text"].filter-text, select.filter-select{
  font-style: italic;
  padding: 10px;
  border: 1px solid #d6dee6;
  color: #6b7992;
  transition: .3s;
  &:hover, &:active, &:focus{
    border: 1px solid @orange;

  }
}
input[type="text"].filter-text{
  width: 100%;
}

select.filter-select{
  width: 100%;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;

  & option{
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
  }

}
.case:after{ //obal section kvuli ikonkam
  font-family: FontAwesome;
  color: #c7cbd4;
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 15px;
  height: 10px;
  pointer-events: none;
}
.case.arrow, .case.search{
  padding-left: 0px;
}
.arrow:after{
  content: '\f078';
}
.search:after{
  content: '\f002';

}
.no-padding-left{
  padding-left:0px;
}
.no-padding-right{
  padding-right: 0px;
}

//DEBUGS
select.filter-select{ //DEBUG MOZ arr down

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select.filter-select::-ms-expand { //DEBUG arr down IE11
  display: none;
}

//MEDIA
@media(max-width: 1200px) {
  .tab label {
    padding: 10px 10px;
  }
  .tabs{
    margin-left: 15px;
  }

}
@media(max-width: 767px){
  .tabs, .case{
    margin-top: 10px;
  }
}

.filter__loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;

  width: 40px;
  height: 6px;
  background-color: @blue;
  animation: filter-side 1.5s ease-in-out infinite;
  display: none;

  &::before, &::after {
    content: "";
    background-color: @blue;
    height: 6px;
    position: absolute;
    animation: filter-side 1.5s ease-in-out infinite;
  }

  &::after {
    top: -10px;
    width: 35px;
  }

  &::before {
    width: 29px;
    top: 10px;
    left: 3px;
  }
}

@keyframes filter-side {
  0% {transform: translateX(-20px)}
  50% {transform: translateX(20px)}
  100% {transform: translateX(-20px)}
}

.filter__result {
  position: relative;
  margin-bottom: 30px;
}