/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.main-header{
  background-image: url("../images/header.jpg");
}

.main-header--big{
  height: 300px;
}


.main-navigation{

  &__item a{
    color: white;
    font-family: "Fira Sans", sans-serif;

    &:hover{
      color: blue;
    }
  }
}

.main-navigation__logo{
  height: 40px;
  display: inline-block;
}