/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.main-navigation{

  &__item a{
    color: @orange;

    &:hover{
      color: blue;
    }
  }

  .icon{
    color: red;
  }
}