/*------------------------------------*\
  #SITE OF THE DAY
\*------------------------------------*/


.article__top--right {
  border-bottom: 2px solid #FE6B60;

  ul, li, a {
    list-style-type: none;
    font-family: "Fira Sans", sans-serif;
    color: #fe6b60;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
  }

  ul, li {
    font-size: 14px;
    color: #5d7683;
    font-weight: 700;
    font-style: normal;
  }
}