/*------------------------------------*\
  #HOME PAGE
\*------------------------------------*/


.container {
  max-width: 1111px;
}

article {
  background-color: white;
  border-bottom: 2px solid #4b8eef;
}

.article__top--left {
  padding-bottom: 18px;

  .article__title {
    font-size: 28px;
    padding-left: 18px;
    padding-top: 23px;
  }

  .article__tags {
    padding-left: 17px;
  }

  .article__category {
    color: #f8534b;
  }

  .article__icon--first {
    color: #2d476e;
    font-size: 23px;
    padding-right: 5px;
    padding-left: 20px;
  }

  .article__icon--second, .article__icon--third {
    font-size: 23px;
    color: #dcdee2;
  }

  .article__icon--second {
    padding-right: 5px;
  }

  .article__likes {
    color: #2d476e;
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    padding-left: 22px;
  }

  .thumb__up {
    font-size: 20px;
    padding-left: 5px;
    color: #2d476e;
  }

  .article__btn {
    width: 120px;
    height: 36px;
  }
}

.title__chosen {
  padding-left: 7px;
  padding-top: 16px;
}

.article__text {
  color: #727d98;
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding-left: 18px;
}

.article__top--right {
  background-color: white;
}

.title__last {
  text-align: center;
}

.article__col--6 {

}

.article__col--6 {

}