/*------------------------------------*\
  #HOME PAGE
\*------------------------------------*/


.container {
  max-width: 1111px;
}

.article {
  background-color: white;
  border-bottom: 2px solid #4b8eef;
  box-shadow: 0 1px 2px 0 #f0f4f7;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 2px 8px 0 #e4e7ea;
  }
}

.article--casual {
  padding-right: 21px;
  height: 257px;
  margin-bottom: 0;

  .article__wrapper {
    height: 50px;
  }

  .article__title {
    padding-left: 18px;
  }

  .article__tags {
    padding-left: 17px;

    .article__category {
      color: @orange;
    }
  }

  .article__text {
    color: #727d98;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding-left: 18px;
  }

  .article__icon--first {
    color: #2d476e;
    font-size: 23px;
    padding-right: 5px;
    padding-left: 16px;
  }

  .article__icon--second, .article__icon--third {
    font-size: 23px;
    color: #dcdee2;
  }

  .article__icon--second {
    padding-right: 5px;
  }

  .article__icon--first, .article__icon--second, .article__icon--third {
    padding-top: 2px;
  }

  .article__likes {
    color: #2d476e;
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    padding-left: 22px;
  }

  .thumb__up {
    font-size: 20px;
    padding-left: 5px;
    color: #2d476e;
  }

  .article__btn {
    width: 120px;
    height: 36px;
    margin-right: 1px;
    margin-top: -7px;
  }
}


.article--chosen {
  height: 220px;
  padding-right: 20px;

  &:hover {
    box-shadow: 2px 2px 8px 0 #e4e7ea;
  }

  .article__wrapper {
    height: 55px;
  }

  .article__title--bigger {
    font-size: 28px;
    padding-left: 18px;
  }

  .article__tags {
    padding-left: 17px;

    .article__category {
      color: #f8534b;
    }
  }

  .article__icon--first {
    color: #2d476e;
    font-size: 23px;
    padding-right: 5px;
    padding-left: 20px;
  }

  .article__icon--second, .article__icon--third {
    font-size: 23px;
    color: #dcdee2;
  }

  .article__icon--second {
    padding-right: 5px;
  }

  .article__icon--first, .article__icon--second, .article__icon--third {
    padding-top: 2px;
  }

  .article__likes {
    color: #2d476e;
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    padding-left: 22px;
  }

  .thumb__up {
    font-size: 20px;
    padding-left: 5px;
    color: #2d476e;
  }

  .article__btn {
    width: 120px;
    height: 36px;
    margin-right: 1px;
    margin-top: -6px;
  }

  .article__text {
    color: #727d98;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding-left: 18px;
  }
}


.title--chosen {
  padding-left: 7px;
  padding-top: 16px;
}

.article__top--right {
  background-color: white;
}

.title--last {
  text-align: center;
  padding-top: 26px;
  margin-bottom: 0;
}

.btn--down {
  width: 160px;
  margin: auto;

  .btn--all {
    width: 160px;
    height: 40px;
    margin-top: 64px;
    margin-bottom: 92px;
  }
}





/*------------------------------------*\
  #RESPONSIVE
\*------------------------------------*/


@media (min-width: 1200px) {
  .article--chosen {
    height: 220px;
  }

  .article--casual {
    height: 257px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .article--chosen {
    height: 240px;
  }

  .article--casual {
    height: 277px;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .article--chosen {
    height: auto;
    padding-bottom: 15px;
  }

  .article--casual {
    height: auto;
    padding-bottom: 15px;
  }

  .title--chosen {
    text-align: center;
    padding-left: 0;
  }

  .title--last {
    text-align: center;
    padding-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 370px) {
  .article--chosen {

    .thumb-up {
      display: block;
    }
  }
}