<header id="navigation"  class="main-header {if $presenter->isLinkCurrent(':Front:Homepage:*')} main-header--big{/if}">
    <div class="navbar" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa hamburger"></span>
                </button>
                <a href="{plink ":Front:Homepage:default"}">
                    <img src="{$basePath}/assets/images/logo-w.svg" class="main-navigation__logo">
                </a>
            </div>
            <div class="collapse navbar-collapse main-navigation">
                <ul class="nav navbar-nav navbar-right relative">
                    {foreach $menu as $item}
                        <li class="shaped menu btn main-navigation__item{if $item['active']} main-navigation__item--active{/if}">
                            <a href="{$item['link']}">
                                {$item["name"]}
                            </a>
                        </li>
                    {/foreach}
                    <a class="btn menu btn-default btn-main" n:href=":Back:Login:login">{if $user->isLoggedIn()}Administrace{else}Přihlásit se{/if}</a>
                </ul>
            </div>
        </div>
    </div>

    {if $presenter->isLinkCurrent(':Front:Homepage:*')}
        <div class="js-mottoList motto text-center">
            <h2 class="motto__top">Codebook vás naučí</h2>

            <h3 class="js-motto motto__bottom motto__bottom--active">psát přehledný a funkční kód</h3>
            <h3 class="js-motto motto__bottom">vytvářet responzivní weby</h3>
            <h3 class="js-motto motto__bottom">používat pokročilé techniky kódování</h3>

        </div>
    {/if}

</header>