<header>
    <div class="container">
        <div class="row">
            <nav class="main-navigation">
                <ul>
                    <li class="main-navigation__item">
                        <a href="#">Úvod</a>
                    </li>
                    <li class="main-navigation__item">
                        <a href="#">Návody</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>