parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days
	savePath: "%tempDir%/sessions"


services:
	router: App\RouterFactory::createRouter
	- App\Model\SotdModel
	- App\Model\UserModel
	- App\Model\TutorialModel
	- App\Model\Parser
	- App\Model\ImageModel
	- App\Model\PageModel
	- App\Model\RedirectHelper
	- App\Model\CronModel
	- App\Model\ConfigModel
	- App\Model\User\UserRegistration

	- App\Model\Mailer\RegistrationMailer

	- App\Model\Log\FileLogger
	- App\Model\Log\SignLog
	- App\Model\Log\contentChangeLog

	- App\Model\Authenticator

	- App\Components\IRegisterFormFactory
	- App\Components\ILoginFormFactory
	- App\Components\ITutorialFormFactory
	- App\Components\IPasswordChangeFormFactory
	- App\Components\IImageUploadFormFactory
	- App\Components\IPageFormFactory
	- App\Components\IFilterFormFactory

	SignListener:
		class: App\Model\Listeners\SignListener
		tags: [kdyby.subscriber]
	PageListener:
		class: App\Model\Listeners\PageListener
		tags: [kdyby.subscriber]


extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    ajaxHistory: VojtechDobes\NetteAjax\HistoryExtension