<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<title n:inner-snippet="title">{ifset title}{include title|stripHtml} | {/ifset}Codebook administrace</title>

	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{$basePath}/assets/favicon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{$basePath}/assets/favicon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{$basePath}/assets/favicon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{$basePath}/assets/favicon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{$basePath}/assets/favicon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{$basePath}/assets/favicon/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="{$basePath}/assets/favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="{$basePath}/assets/favicon/favicon-16x16.png" sizes="16x16" />
	<meta name="application-name" content="Codebook - front-end handbook"/>
	<meta name="msapplication-TileColor" content="#F46E42" />
	<meta name="msapplication-TileImage" content="{$basePath}/assets/favicon/mstile-144x144.png" />

	<script src="{$basePath}/assets/scripts/libs/modernizr-2.8.3-respond-1.4.2.min.js"></script>

	<script src="https://use.fontawesome.com/f793ac295e.js"></script>

	<link rel="stylesheet" href="{$basePath}/assets/styles/libs.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/styles/back.min.css">
</head>

<body>


<script n:inner-snippet="ga-token">
	{if $ga}
		var gaView = {$gaView};
		var gaAccessToken = {$gaAccessToken};
	{/if}
</script>

<div class="js-loader"></div>

	{if !$presenter->isLinkCurrent("Login:*")}
		<div class="js-flashMsg container flashmsg" n:inner-snippet="flashMessages" data-ajax-append>
			{if $flashes}
				{foreach $flashes as $flash}
					{if $flash->type == "error"}
						<div class="flashmsg__msg flashmsg__msg--error">{$flash->message}</div>
					{/if}
					{if $flash->type == "success"}
						<div class="flashmsg__msg flashmsg__msg--success">{$flash->message}</div>
					{/if}
				{/foreach}
			{/if}
		</div>

		{snippetArea header}
			{import Components/header.latte}
			{include header}
		{/snippetArea}

		{snippet navigation}
			{include Components/menu.latte}
		{/snippet}

		<div class="container container--admin">
	{/if}

	<div n:inner-snippet="content" data-ga="{$ga}" class="js-admin-content">
		{include content}
	</div>

	{if !$presenter->isLinkCurrent("Login:*")}
		</div>
	{/if}


	{block scripts}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/locale/cs.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>

		<script src="{$basePath}/assets/scripts/libs.min.js"></script>
		<script src="{$basePath}/assets/scripts/back.min.js"></script>

		<script n:syntax="off">
			(function(w,d,s,g,js,fs){
				g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
				js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
				js.src='https://apis.google.com/js/platform.js';
				fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
			}(window,document,'script'));
		</script>


		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	{/block}




</body>
</html>
