{block content}

{if $registered == true}
    <div class="col-md-5 col-sm-8 col-xs-12 form-login form-login--success">
            <h3 class="form-login__heading">Registrace proběhla úspěšně</h3>
            <p>Pro přihlášení do administrace musí učitel aktivovat váš účet.</p>
            <div class= "form-login__redirect form-login__redirect--success">
                <a class= "form-login__redirect-link" href="{$basePath}">Přejít na hlavní stranu</a>
            </div>
    </div>

{else}
<div class="container container--login">
        <div class="login--header">
                <div class="login-logo"><img src="{$basePath}/assets/images/logo-o.svg"/></div>
                <div class="login-logo__line"></div>
                <div class="login-logo__heading">Administrace</div>
        </div>
                <div class="col-md-5 col-sm-8 col-xs-12 form-login">
                        <div class="form-login__heading">
                             Registrace
                        </div>
                            <form n:name="form" class="form-login__form">
                                {if $flashes}
                                    <div class="col-xs-12 form-error">
                                        <ul>
                                            {foreach $flashes as $flash}
                                                {if $flash->type == "error"}
                                                    <li>{$flash->message}</li>
                                                {/if}
                                            {/foreach}
                                        </ul>
                                    </div>
                                {/if}
                                <div class="col-md-8 col-xs-12 form-group--login">
                                    <label n:name="email">E-mail</label>
                                    {input "email" class => "form-control form-login__input"}
                                </div>
                                <div class="col-md-8 col-xs-12 form-group--login">
                                    <label n:name="password">Heslo</label>
                                    {input "password" class => "form-control form-login__input"}
                                </div>
                                <button n:name="submit" class="btn btn--blue col-md-4 col-xs-8" type="submit">Zaregistrovat se</button>
                            </form>
                            <div class="form-login__redirect">
                                Už máte účet? <a class= "form-login-redistrict__link" href="{plink Login:login}">Přihlaste se</a>
                            </div>
                </div>
</div>
{/if}