<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="cs" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="cs" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="cs" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="cs" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Codebook</title>


	<meta name="description" content="Front-end příručka studentů Gymnázia Karviná">
	<meta name="keywords" content="příručka, návody, HTML, CSS, JavaScript, jQuery, Gymnázium Karviná">


	<meta property="og:title" content="{ifset title}{include title|stripHtml} | {/ifset}Codebook" />
	<meta property="og:description" content="Front-end příručka studentů Gymnázia Karviná" />
	<meta property="og:image" content="{$basePath}/assets/images/og-image.jpg" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />


	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{$basePath}/assets/favicon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{$basePath}/assets/favicon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{$basePath}/assets/favicon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{$basePath}/assets/favicon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{$basePath}/assets/favicon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{$basePath}/assets/favicon/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="{$basePath}/assets/favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="{$basePath}/assets/favicon/favicon-16x16.png" sizes="16x16" />
	<meta name="application-name" content="Codebook - front-end handbook"/>
	<meta name="msapplication-TileColor" content="#F46E42" />
	<meta name="msapplication-TileImage" content="{$basePath}/assets/favicon/mstile-144x144.png" />


	<script src="{$basePath}/assets/scripts/libs/modernizr-2.8.3-respond-1.4.2.min.js"></script>

	<script src="https://use.fontawesome.com/f793ac295e.js"></script>
	<link rel="stylesheet" href="{$basePath}/assets/styles/libs.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/styles/front.min.css">
</head>

<body class="front">

{if !$presenter->isLinkCurrent(":Front:Error4xx:*")}
	{include Components/header.latte}
{/if}


	<div class="container" n:inner-snippet="content">
		{include content}
	</div>

{if !$presenter->isLinkCurrent(":Front:Error4xx:*")}
	{include Components/footer.latte}
{/if}

	{block scripts}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="{$basePath}/assets/scripts/libs.min.js"></script>
		<script src="{$basePath}/assets/scripts/front.min.js"></script>
	{/block}

	<script n:syntax=off>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-37480854-6', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>
