<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="cs"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="cs"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="cs"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="cs"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Codebook</title>

	<script src="{$basePath}/assets/scripts/libs/modernizr-2.8.3-respond-1.4.2.min.js"></script>

	<script src="https://use.fontawesome.com/f793ac295e.js"></script>
	<link rel="stylesheet" href="{$basePath}/assets/styles/libs.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/styles/front.min.css">
</head>

<body class="preload">
	{include Components/header.latte}
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="{$basePath}/assets/scripts/libs.min.js"></script>
		<script src="{$basePath}/assets/scripts/front.min.js"></script>
	{/block}
</body>
</html>
