/*!
*
* PROJECT: Codebook - Frontend handbook for students and teachers.
* AUTHORS: Martin Kucera, David Nepozitek, Jan Piechaczek, Jakub Szarowski
*
*/

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Global variables and settings.
 * Colours..............Useful colours variables.
 * Loader...............Page loader styles.
 * Fonts................Imports of used fonts.
 *
 */


/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/


@1440:  ~"all and (max-width: 90em)";
@1024: ~"all and (max-width: 82.5em)";
@960: ~"all and (max-width: 63.9375em)";
@768: ~"all and (max-width: 59.9375em)";
@480: ~"all and (max-width: 47.9375em)";
@360: ~"all and (max-width: 29.9375em)";
@320: ~"all and (max-width: 22.4375em)";

@1920m: ~"all and (min-width: 120em)";
@1440m: ~"all and (min-width: 90em)";
@1024m: ~"all and (min-width: 64em)";
@960m: ~"all and (min-width: 60em)";
@768m: ~"all and (min-width: 48em)";
@480m: ~"all and (min-width: 30em)";
@360m: ~"all and (min-width: 22.5em)";
@320m: ~"all and (min-width: 20em)";

@1024h: ~"all and (max-height: 82.5em)";
@960h: ~"all and (max-height: 63.9375em)";
@768h: ~"all and (max-height: 59.9375em)";
@480h: ~"all and (max-height: 47.9375em)";
@360h: ~"all and (max-height: 29.9375em)";
@320h: ~"all and (max-height: 22.4375em)";

body{
  background-color: @bg;
  font-family: "Fira Sans", sans-serif;
}





/*------------------------------------*\
  #COLOURS
\*------------------------------------*/


@blue: #307ceb;
@orange: #f8534b;
@bg: #f4f8fb;







/*------------------------------------*\
  #LOADER
\*------------------------------------*/


.js-loader {
  background-color: #4b8eef;
  width: 100%;
  position: fixed;
  z-index: 999;
  box-shadow: 0 1px 2px rgba(75,142,239, 0.7);
  top: 0;
  left: 0;


  transform: translateX(-100%) translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}






/*------------------------------------*\
  #FONTS
\*------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Lora:700,700i&subset=latin-ext');

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/firasans-lightitalic-webfont.woff') format('woff'),
  url('../fonts/firasans-lightitalic-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regular-webfont.woff2') format('woff2'),
  url('../fonts/firasans-regular-webfont.woff') format('woff'),
  url('../fonts/firasans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-bold-webfont.woff2') format('woff2'),
  url('../fonts/firasans-bold-webfont.woff') format('woff'),
  url('../fonts/firasans-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


/*------------------------------------*\
  #CONTAINER
\*------------------------------------*/


.container--admin {
  margin: 0;
  padding-left: 285px;
  padding-top: 105px;
}

@media (max-width: 1200px) {
  .container--admin {
    width: 1070px;
  }
}

@media (max-width: 1080px) {
  .container--admin {
    width: 980px;
  }
}

@media (max-width: 1050px) {
  .container--admin {
    width: 950px;
  }
}

@media (max-width: 992px) {
  .container--admin {
    width: 900px;
    padding-top: 153px;
  }
}

@media (max-width: 910px) {
  .container--admin {
    width: 850px;
  }
}

@media (max-width: 880px) {
  .container--admin {
    width: 850px;
  }
}

@media (max-width: 850px) {
  .container--admin {
    width: 820px;
  }
}

@media (max-width: 830px) {
  .container--admin {
    width: 820px;
  }
}

@media (max-width: 800px) {
  .container--admin {
    width: 780px;
  }
}




/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/


.title {
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #5d7683;
  padding-left: 1px;
  font-style: normal;
}

.article__title--bigger, .article__title {
  font-family: 'Lora', sans-serif;
  color: #2d476e;
  font-size: 24px;
}

.article__tags {
  font-size: 14px;
  color: #b9c1d4;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
}

.title--page {
  font-family: 'Lora', sans-serif;
  color: #2d476e;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}





/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/


.btn {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  border-radius: 2px;
  font-weight: 300;
  border: none;
  transition: 0.3s;
  color: white;
  line-height: 36px;
  padding: 0 12px;

  &:hover {
    color: white;
  }

  &:focus {
    color: white;
  }
}

.btn--blue {
  background-color: #4b8eef;
  font-size: 14px;
  float: right;
  //box-shadow: 0 1px 4px 0 #4b8eef;

  &:hover {
    background-color: #307ceb;
    box-shadow: 0 2px 6px 0 #4b8eef;
  }
}

.btn--orange {
  background-color: #f8534b;
  font-size: 14px;
  //box-shadow: 0 1px 4px 0 #f8534b;

  &:hover {
    background-color: #f73f36;
    box-shadow: 0 2px 6px 0 #f8534b;
  }
}

.btn--green {
  background-color: #4cd964;
  font-size: 14px;
  //box-shadow: 0 1px 4px 0 #4cd964;

  &:hover {
    background-color: #2cd249;
    box-shadow: 0 2px 6px 0 #4cd964;
  }
}


/*------------------------------------*\
  #ERROR
\*------------------------------------*/

.error-site {
  background-color: white;
  border-bottom: 2px solid #4b8eef;
  box-shadow: 0 0 2px 0 #f0f4f7;
  padding: 20px;
  margin-top: 40px;

  .btn {
    float: none;
  }
}

  .error-site__title {
    font-family: "Lora", sans-serif;
    margin: 10px 0;
  }

  .error-site__text {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
  }

  .error-site__number {
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0;
  }





