/*------------------------------------*\
#LOGIN
\*------------------------------------*/


.form-login {
  background-color: white;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: #2d476e;
  position: relative;
  border-bottom: 2px solid #4b8eef;
  float: none;
  padding: 0;
  margin: 80px auto auto auto;
  box-shadow: 0 1px 4px rgba(0,0,0,.05);

  .btn{
    height: 46px;
    display: block;
    margin: 0 auto 15px auto;
    float: none;
  }

}

.form-group--login {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #2d476e;
  float: none;
  margin: 0 auto 25px auto;

}

.login-logo {
  margin-top: 80px;
  width: 260px;
  margin-right: 15px;
  display: inline-block;
}

.form-login__heading {
  background-color: #4b8eef;
  color: white;
  font-size: 28px;
  width: 100%;
  text-align: center;
  line-height: 100px;
  position: relative;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 300;
}

.btn {
  background-color: #4b8eef;
  color: white;
  font-style: normal;
  font-size: 14px;
  border: none;
  margin-bottom: 15px;
}

.container--login {
  margin: auto;
  position: relative;
  text-align: center;
}

.form-login__form {
  display: inline-block;
  width: 100%;
}

.login-logo__line {
  width: 2px;
  height: 70px;
  background-color: #515c79;
  vertical-align: middle;
  display: inline-block;
}

.login-logo__heading {
  font-size: 28px;
  color: #515c79;
  margin-left: 15px;
  font-weight: 300;
  font-style: italic;
  position: relative;
  line-height: 70px;
  vertical-align: -10%;
  display: inline-block;
}

.form-error {
  background-color: #feeded;
  border: 1px solid #f9756f;
  color: #f33b33;
  text-align: center;
  line-height: 46px;
  position: center;
  display: block;
  margin: 0 auto 15px auto;
  float: none;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
}

.form-login__input {
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label {
  font-weight: 300;
  font-size: 20px;
}

.login-account__redistrict {
  font-size: 14px;
  color: #515c79;
  margin-top: 7px;
  font-style: italic;
  font-weight: 700;
  float: left;
}

.login-redistrict__link {
  font-size: 14px;
  margin-top: 7px;
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}