/*------------------------------------*\
#LOGIN
\*------------------------------------*/


.form-login {
  background-color: white;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: #2d476e;
  position: relative;
  border-bottom: 2px solid #4b8eef;
  float: none;
  padding: 0;
  margin: 80px auto auto auto;
  box-shadow: 0 1px 4px rgba(0,0,0,.05);
  max-width: 410px;

  .btn{
    height: 46px;
    display: block;
    margin: 0 auto 15px auto;
    float: none;
    margin-bottom: 15px;
  }

}

.form-login--success{
  max-width: 540px;
  margin: 80px auto 0 auto;

  p{
    margin-top: 40px;
  }
}

.form-group--login {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #2d476e;
  float: none;
  margin: 0 auto 25px auto;
}

.login-logo {
  margin-top: 80px;
  width: 260px;
  margin-right: 15px;
  display: inline-block;
}

.form-login__heading {
  background-color: #4b8eef;
  color: white;
  font-size: 28px;
  width: 100%;
  text-align: center;
  padding: 36px;
  position: relative;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 300;
}

//TODO: Delete this after btn merge
.btn {
  background-color: #4b8eef;
  color: white;
  font-style: normal;
  font-size: 14px;
  border: none;
}

.container--login {
  margin: auto;
  position: relative;
  text-align: center;
}

.form-login__form {
  display: inline-block;
  width: 100%;
}

.login-logo__line {
  width: 2px;
  height: 70px;
  background-color: #515c79;
  vertical-align: middle;
  display: inline-block;
}

.login-logo__heading {
  font-size: 28px;
  color: #515c79;
  margin-left: 15px;
  font-weight: 300;
  font-style: italic;
  position: relative;
  line-height: 70px;
  vertical-align: -10%;
  display: inline-block;
}

.form-error {
    float: none;
    margin: 0 auto 15px auto;

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    background-color: #feeded;
    border: 1px solid #f9756f;
    color: #f33b33;
    text-align: center;
    line-height: 46px;
    display: block;
    float: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }
}

.form-login__input {
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 300;
}

.label {
  font-weight: 300;
  font-size: 20px;
}

.form-login__redirect {
  font-size: 14px;
  color: #2d476e;
  margin-top: 7px;
  font-style: italic;
  font-weight: 700;
  float: left;
  line-height: 30px;
  margin-left: 10px;
}

.form-login__redirect--success{
  float: none;
  margin: 40px auto 40px auto;
}

.form-login__redirect-link {
  font-size: 14px;
  color: #4b8eef;
  margin-top: 7px;
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

.form-login-registration-redistrict__link {
  font-size: 14px;
  color: #4b8eef;
  margin: 40px auto 40px auto;
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

.form-login-registration__div {
  background-color: white;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  color: #2d476e;
  position: relative;
  border-bottom: 2px solid #4b8eef;
  float: none;
  padding: 0;
  margin: 80px auto auto auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .05);
  max-width: 540px;
}

.form-login-registration__heading {
  background-color: #4b8eef;
  color: white;
  font-size: 28px;
  width: 100%;
  text-align: center;
  padding: 36px;
  position: relative;
  margin-bottom: 35px;
  font-style: italic;
  font-weight: 300;
}

.input-error {
  float: none;
  margin-bottom: -10px;
  padding-left: 0;

  li {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    color: #f33b33;
    text-align: center;
    line-height: 20px;
    display: block;
    float: none;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
}

.has-error .form-control {
  border-color: #f33b33;

  &:focus{
    border-color: #f33b33;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f33b33;
  }
}