/*------------------------------------*\
#LOGIN
\*------------------------------------*/


.form-login {
  background-color: white;
  text-align: center;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: italic;
  color: #2d476e;
  width: 410px;
  position: relative;
  margin: auto;
  border-bottom: 2px solid @blue;
}
.form-group {
  text-align: center;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: italic;
  color: #2d476e;
}
.logo {
  width: 260px;
}
.heading {
  background-color: #4b8eef;
  color: white;
  font-style: normal;
  font-size: 28px;
  width: 410px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  position: relative;
  margin: auto;
}
.button-register {
  background-color: @blue;
  color: white;
  font-style: normal;
  font-size: 14px;
  width: 140px;
  height: 46px;
  border: none;
}
.container {
  margin: auto;
  position: relative;
}